@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --ploxxy-light: #222;
    --ploxxy-borders: #333;
    --ploxxy-header: #111;
    --ploxxy-primary: lightgreen;
    --ploxxy-pagination: #999;
}


body {
    background-color: #111;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
/* 
.container {
    padding: 25px
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

  ::-webkit-scrollbar-track {
    background: var(--ploxxy-header); 
}

  ::-webkit-scrollbar-thumb {
    background: var(--ploxxy-pagination); 
}

  ::-webkit-scrollbar-thumb:hover {
    background: var(--ploxxy-pagination); 
}

#standwithukraine{
    font-weight: 400;
    display:block;
    display:flex;
    justify-content:center;
    align-items:center;
    line-height:1.2em;
    padding:.5em 1em;
    color: #ccc;
    font-weight:600;
    background: transparent;
    transform:translateY(-100%);
    animation:fadeIn 1s 2s ease-out forwards
}

#standwithukraine:before{
    content:"";
    display:block;
    flex-shrink:0;
    width:1.7em;
    height:1em;
    background:linear-gradient(#0057b8,#0057b8 50%,gold 50%,gold);
    margin-right:1em
}

@keyframes fadeIn{
    0%{
        transform:translateY(-100%)
    }
    100%{
        transform:translateY(0%)
    }
}

a:visited {
    text-decoration: none;
}